

.product_control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:left;
    width: 210px;
    height: 360px;
    font-family: 'Inter',
    sans-serif;
    }

.products_title {
    font-size: 32px;
    text-align: left;
}

.product_name {
    font-size: 16px;
    font-weight: 400;
}

.product_img {
    width: 130px;
    height: 150px;
}

.old_price {
    color: #525252;
    font-size: 16px;
    text-decoration-line: line-through;
}

.product_price {
    font-size: 20px;
    font-weight: 600;
}

.product_stock {
    color: #525252;
    font-size: 14px;
}

.product_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.btn_backet {
    border-radius: 6px;
    color: #fff;
    width: 115px;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn_full {
    background: #4D96FF;
}

.btn_empty {
    background: #CCCCCC;
}