.product_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    font-family: 'Inter',
    sans-serif;
}

.products_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding: 30px;
}

.products_title {
    padding-top: 36px;
    padding-left: 60px;
}

.fff {
    color: #fff;
}

.displayNone {
    display: none;
}

.btn_view_all {
    background-color: #fff;
    font-size: 16px;
    margin-left: 90%;
    border: none;
    cursor: pointer;
}