

.header-menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 60px;
}

.header-menu__control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 45px;
}

.icon {
    width: 20px;
    height: 18px;
}