@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&display=swap');

.header-control {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter',
    sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 60px;
    height: 90px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}   