
.fa {
    color: #fff;
}

input {
    width: 700px;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.search_button {
    height: 48px;
    width: 64px;
    box-sizing: border-box;
    border: none;
    background-color: #4D96FF;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}